<launch>

    <arg name="ggcnn_model_path" default="$(find ggcnn_kinova_grasping)/../../networks/ggcnn_rss/epoch_29_model.hdf5" />

    <node name="ggcnn"
          pkg="ggcnn_kinova_grasping"
          type="run_ggcnn.py"
          output="screen">
        <rosparam param="ggcnn_model_path" subst_value="true">$(arg ggcnn_model_path)</rosparam>
        <rosparam param="depth_camera_info_topic" subst_value="true">/oil/perception/hand_camera/depth/camera_info</rosparam>
        <rosparam param="depth_camera_topic" subst_value="true">/oil/perception/hand_camera/depth/image_raw</rosparam>
    </node>

</launch>