<launch>

  <node pkg="nodelet" type="nodelet" name="standalone_nodelet"  args="manager"/>

  <node pkg="nodelet" type="nodelet" name="convert_depth_to_m"
        args="load depth_image_proc/convert_metric standalone_nodelet">
        <remap from="image_raw" to="/camera/aligned_depth_to_color/image_raw"/>
        <remap from="image" to="/camera/depth/image_meters"/>
  </node>

    <!-- static_transform_publisher x y z (y p r || x y z w) frame_id child_frame_id  period (milliseconds) -->
  <node pkg="tf" type="static_transform_publisher" name="realsense_link_broadcaster"
        args="0.10738551, -0.03020326, -0.06053236, 0.66076389, -0.08750102, 0.7313959, 0.14429378 /m1n6s300_end_effector /camera_link 10" />

</launch>
